// _about.scss

/* MONEY AT WORK
================================================= */
.interstitial--money {
	img {
		width: 378px;
		float: left;
	}

	.descrip {
		width: calc(100% - 378px);
		height: 320px;
		float: left;
		padding-left: 40px;
	}

	@include media(mobile) {
		img {
			width: 100%;
			max-width: 378px;
			height: auto;
			margin: 0 auto;
			float: none;
			display: block;
		}

		.descrip {
			width: 100%;
			height: auto;
			margin-top: 30px;
			padding-left: 0;
		}
	}
}

/* OUR SUCCESS
================================================= */
.interstitial--stats {
	.triangle-after {
		position: relative;
	
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			margin-left: -60px;
			border-left: 60px solid transparent;
			border-right: 60px solid transparent;
			border-top: 60px solid #fff;
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			margin-left: -60px;
			top: 0;
			margin-top: -10px;
			border-left: 60px solid transparent;
			border-right: 60px solid transparent;
			border-top: 60px solid $colorGrayLight;
		}
	}

	.success {
		width: 100%;
		float: left;
		background: #fff;
	
		.fourths {
			height: 380px;
			width: 25%;
			width: calc(25% - 5.25px);
			float: left;
			padding-top: 40px;
			background: $colorSecondary;
			text-align: center;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			@include background-size(cover);
			border-top: 7px solid #fff;
			border-bottom: 7px solid #fff;
		}
		.fourths:nth-of-type(1) { margin-right: 3.5px; }
		.fourths:nth-of-type(2) { margin-left: 3.5px; margin-right: 3.5px; }
		.fourths:nth-of-type(3) { margin-left: 3.5px; }
		.fourths:last-of-type { float: right; }

		.circle {
			margin: 0 auto 15px;
			background: rgba(243,243,243,.5);
			border: none;
			position: relative;
			z-index: 1;

			&:after {
				content: '';
				position: absolute;
				background: #fff;
				width: 94px;
				height: 94px;
				top: 3px;
				left: 3px;
				z-index: 2;
				@include border-radius(47px);
			}		
		}

		.stat {
			margin: 0;
		}

		p {
			padding: 0 30px;
			color: #272727;
		}
	}

	@include media(mobile) {
		.triangle-after {
			position: relative;
		
			&:before {
				margin-left: -20px;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid #fff;
			}

			&:after {
				margin-left: -20px;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid $colorGrayLight;
			}
		}

		.success {
			.fourths {
				width: 100%;
				height: 300px;
				margin: 0;
				padding-top: 20px;
				border-top: none;
			}

			.fourths:nth-of-type(1) { border-top: 7px solid #fff; }

			.fourths:nth-of-type(1), 
			.fourths:nth-of-type(2),
			.fourths:nth-of-type(3),
			.fourths:last-of-type { 
				margin: 0;
				float: left;
			}

			p { padding: 0 10px; }
		}
	}
}

@include media(mobile) {
	#success .container > div { padding-bottom: 0; }
}

body.is_tablet #success.interstitial--stats .success p { font-size: 12px; }


/* TEAM GRID
================================================= */
.team-tile {
	margin: 25px 0; 
	text-align: center;
	cursor: pointer;

	&.team-tile--active {
		position: relative;

		&:after {
			width: 0; 
			height: 0; 
			content: '';
			position: absolute;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid $colorGrayLight;
			left: 50%;
			bottom: 0;
			margin-left: -20px;
			margin-bottom: -26px;
		}

		.team-tile__photo:after {
			width: 100%;
			height: 100%;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			background: rgba($colorPrimary,0.6);
			@include border-radius(50%);
		}
	}
}

.team-tile__photo {
	width: 170px;
	height: 170px;
	max-width: 100%;
	max-height: auto;
	margin: 0 auto;
	background: $colorGrayLight;
	position: relative;
	@include border-radius(50%);
	@include background-size(cover);
	@include transition(all 150ms linear);
	@include transform(scale(1));

	&.join {
		@include background-size(auto);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:hover {
		@include transform(scale(1.05));
	}
}

.team-tile__name {
	min-height: 75px;
	padding: 0 10px;

	p {
		font-size: 16px;
		margin: 10px 0 0;
		line-height: 1.15;
		color: $colorPrimary;
	}

	span {
		font-size: 16px;
		font-family: $default;
		font-weight: 100;
		color: #5a5a5a;
	}
}

.team-tile__description {
	display: none; 
	background: $colorGrayLight;
	padding: 40px 20px;
	text-align: left; 

	p, li {
		font-size: 14px;
		margin-bottom: 10px;
		color: #888888;

		span {
			font-family: $default-alt;
			font-weight: 500;
			color: $colorPrimary;
		}

		a:hover { color: $colorPrimary; }
	}

	li { margin-bottom: 0; }
}

.team-grid {
	.team-row {
		max-width: 960px;
		margin: 0 auto;
	}
	
	#team-expander {
		width: 100%;
		display: none;
		float: left;
		padding: 80px 0 60px;
		text-align: left;
		background-color: $colorGrayLight;
		@include transition(all 100ms linear);
		
		p, li {
			font-size: 18px;
			margin-bottom: 20px;
			color: #888888;

			span {
				font-family: $default-alt;
				font-weight: 500;
				color: $colorPrimary;
			}

			a:hover { color: $colorPrimary; }
		}

		li { margin-bottom: 0; }

		.btn--team { margin-right: 10px; }
	}

	@include media(mobile) {
		.team-tile {
			margin: 0;
		}

		.team-tile--active {

			&:after { display: none; }

			.team-tile__description {
				display: block;
				position: relative;
				margin-bottom: 30px;

				&:after {
					width: 0; 
					height: 0; 
					content: '';
					position: absolute;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 20px solid $colorGrayLight;
					left: 50%;
					top: 0;
					margin-left: -20px;
					margin-top: -20px;
				}
			}
		}

		#team-expander { display: none; }
	}
}

#team #close-expander {
	float: right;
	margin-top: -40px;
	cursor: pointer;
	color: $colorPrimary;
	@include transition(all 100ms linear);

	&:before {
		content: '\f00d';
		font-size: 30px;
		position: absolute;
		font-family: $fa;
	}

	&:hover { color: darken($colorPrimary,8); }
}

@include media(mobile) {
	body.non_mobile #team-expander {
		display: none !important;
	}
	
	#team #close-expander {
		margin-top: -20px;
		margin-right: 20px;

		&:before { font-size: 24px; }
	}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 950px) {
	.team-grid .team-tile .team-tile__photo {
		width: 150px;
		height: 150px;
	}

	.circle.circle--med {
		width: 170px;
		height: 170px;

		&.hover-effect:before {
			top: 10px;
		}

		&.hover-effect:hover:before {
			width: 170px;
			height: 170px;
			top: 10px;
			left: 0;
		}
	}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 825px) {
	.team-grid .team-tile .team-tile__name {
		
		p { font-size: 14px; }

		span {
			font-size: 12px;
		}
	}

	#team #close-expander {
		margin-right: 40px;
	}
}

body.is_tablet {
	.team-grid .team-tile .team-tile__photo {
		width: 120px;
		height: 120px;
	}

	.team-grid .team-tile .team-tile__name {
		
		p { font-size: 14px; }

		span {
			font-size: 12px;
		}
	}

	#team #close-expander {
		margin-right: 40px;
	}
}

@include media(tablet) {
	.team-grid .team-tile .team-tile__photo  {
		width: 120px;
		height: 120px;
	}

	#success.interstitial--stats .success p {
		font-size: 12px;
	}
}

/* TESTIMONY SLIDER
================================================= */
.flexslider--recognition {
	.container {
		height: 630px;
		display: table; 
	}
	.container--constrain { 
		max-width: 680px;
		height: 630px;
	}

	.slide__content {
		display: table-cell;
		vertical-align: middle;
		color: #fff;

		h5.alt {
			margin-top: 20px;
			font-weight: 500;
		}

		p:last-of-type { margin-bottom: 0; }
	}

	@include media(mobile) {
		p.larger { font-size: 14px; }
	}
}
