// _home.scss
/* HERO
================================================= */
#hero.hero--home {
	position: relative; 

	.btn--transparent { margin: 40px auto 0; }
}

.arrows-home {
	width: 12px;
	display: block;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -12px;

	.fa {
		display: block;
		clear: both;
		font-size: 18px;
		color: #fff;
		@include transition(all 100ms linear);

		&:nth-of-type(1) { color: #fff; }
		&:nth-of-type(2) { color: rgba(255,255,255,.5); }
		&:nth-of-type(3) { color: rgba(255,255,255,.25); }
	}

	&:hover {
		.fa { font-size: 20px; }
	}
}

/* MOSAIC TILED UPDATES
================================================= */
.tiles--mosaic {
	h5 { color: #fff; }

	.tiles__box {
		height: 320px;
		position: relative;
		color: #fff;
		overflow: hidden;
		text-align: left;
		@extend %bg-cover;

		&.half {
			width: calc( 50% - 3px);
		}

		&.third {
			width: calc( 25% - 3px );
		}
	}

	.tiles__row .tiles__box {
		margin-right: 4.5px;
		margin-bottom: 4.5px;

		&:nth-of-type(3n+3) {
			margin-right: 0;
		}
	}
		
	.tiles__details {
		@include transition(all 200ms linear);
	}
	
	.tiles__text {
		display: block;
		cursor: pointer;
	}

	.tiles__footer {
		height: 60px;
		line-height: 65px;
		position: absolute;
		bottom: 0;
		background: #0089b7;
		padding: 0 25px;
		@include transition(all 200ms linear);

		a { 
			color: #fff !important;
			cursor: pointer;
			padding: 0 7px; 

			&:nth-of-type(1) { padding-left: 0; }
			
			.fa { font-size: 18px; }

			&:hover {
				.fa { font-size: 20px; }
			}
		}
	}

	.tiles--slideup {
		.tiles__details {
			width: 100%;
			position: absolute;
			bottom: 0;
			@include transition(all 200ms linear);

			.tiles__text {
				padding: 20px 25px;
				@include transition(all 200ms linear);
			}

			.tiles__footer {
				width: 100%;
				margin-bottom: -50px;
			}
		}

		&:hover {
			.tiles__details {
				box-shadow: 0 6px 3px rgba(0,0,0,.11);
				background-image: linear-gradient(left, rgba(1,167,213,.9) 0%, rgba(1,167,213,.6) 100%);
			}
			.tiles__text { padding-bottom: 60px; }

			.tiles__footer {
				margin-bottom: 0;
			}
		}
	}

	.tiles--slideright {
		.tiles__details {
			width: 240px;
			height: 100%;
			@include transition(all 200ms linear);
			
			.tiles__text {
				width: 240px;
				position: absolute;
				top: 0;
				padding: 30px 25px 0;
			}

			.tiles__footer {
				width: 230px;
				position: absolute;
				bottom: 0;
				left: -230px;
			}
		}

		.tiles__slidebg:before {
			position: absolute;
			content: '';
			width: 240px;
			height: 100%;
			left: -230px;
			@include transition(all 200ms linear);
			box-shadow: 0 6px 3px rgba(0,0,0,.11);
			background-image: linear-gradient(left, rgba(1,167,213,.9) 0%, rgba(1,167,213,.6) 100%);
		}

		&:hover {
			.tiles__details {

				.tiles__footer { left: 0; }

				.tiles__slidebg:before { left: 0; }
			}	
		}	
	}

	@include media(mobile) {
		.tiles__box {

			&.half, &.third {
				width: 100%;
			}
		}

		.tiles__row .tiles__box {
			margin-right: 0;
			margin-bottom: 4.5px;
		}

		.tiles__text br,
		.tiles__text span { display: none; }

		.tiles__box.tiles--slideup .tiles__details {
			 
			box-shadow: 0 6px 3px rgba(0,0,0,.11);
			background-image: linear-gradient(left, rgba(1,167,213,.9) 0%, rgba(1,167,213,.6) 100%); 

			.tiles__text { padding-bottom: 60px; padding-top: 20px; }

			.tiles__footer { margin-bottom: 0; }
		}

		.tiles__box.tiles--slideright .tiles__details {
			.tiles__text {
				width: 100%;
				top: auto;
				bottom: 60px;
				padding-top: 20px; 
				box-shadow: 0 6px 3px rgba(0,0,0,.11);
				background-image: linear-gradient(left, rgba(1,167,213,.9) 0%, rgba(1,167,213,.6) 100%);
			}

			.tiles__footer { 
				width: 100%;
				left: 0; 
			}

			.tiles__slidebg:before { 
				left: 0;
				display: none;
			}
		}
	}
}

// Fix for tablets
body.is_mobile .tiles--mosaic {
	
	.tiles--slideright .tiles__details .tiles__slidebg:before,
	.tiles--slideright .tiles__details .tiles__footer { left: 0; }
	
	.tiles--slideup {
		.tiles__details { 
			box-shadow: 0 6px 3px rgba(0,0,0,.11);
			background-image: linear-gradient(left, rgba(1,167,213,.9) 0%, rgba(1,167,213,.6) 100%);
		}
		.tiles__text { padding-bottom: 60px; }
		.tiles__details .tiles__footer { margin-bottom: 0; }
		
		h5 { font-size: 16px; }
		h5 br { display: none; }
	}
}


/* [HOME] FOOD FOR THOUGHT, APPROACH 
 * [PROBLEM] FARMING
================================================= */
.interstitial {

	a.span3 {
		margin-top: 50px;
	}

	@include media(mobile) {
		a.span3 { margin-top: 30px; }
		.circle--med { margin: 0 auto; }
		//.float-none { float: left; }

		.container > div {
			padding-bottom: 30px;
		}
	}
}

.interstitial--circle {
	.circle {
		float: left;
	}

	.circle-descrip {
		width: calc(100% - 350px);
		height: 350px;
		float: left;
		// display: table;
		padding-left: 40px;

		&.left {
			padding-left: 0;
			padding-right: 40px;
		}

		p:last-of-type { margin-bottom: 0; }

		// .inner {
		// 	display: table-cell;
		// 	vertical-align: middle;
		// }
	}

	@include media(mobile) {
		.circle {
			float: none;
			clear: both;
			margin: 0 auto 30px;
		}

		.circle-descrip {
			width: 100%;
			height: auto;
			padding-left: 0;

			&.left { padding-right: 0; }
		}
	}
}

.descrip, .circle-descrip { 
	display: table; 
	
	.inner {
		display: table-cell;
		vertical-align: middle;
	}
}

/* TESTIMONIES
================================================= */
// .testimonies {
// 	height: 415px;

// 	.left { 
// 		padding-right: 2px; 
// 	}
// 	.right { padding-left: 2px; }
	
// 	.testimony-inner {
// 		display: block;
// 		height: 415px;
// 		@extend %bg-cover;

// 	}

// 	p {
// 		font-size: 18px;
// 		color: #fff; 
// 	}

// 	p.serif { font-weight: 700; }

// 	.testimony-text {
// 		margin: 55px 0 0 55px;
// 	}	
// }

// @include media(mobile) {
// 	.testimonies {
// 		height: 250px;

// 		.testimony-inner { height: 250px; }

// 		.left, .right { padding: 0; }

// 		.testimony-text { margin: 30px 0 0 30px; }
// 	}

// 	body.is_mobile .testimonies {
// 		.flex-control-nav { 
// 			display: block; 
// 			bottom: 0;
			
// 			li a {
// 				background: transparent;
// 				border: 2px solid #fff;
// 				-webkit-box-shadow: none;
// 				-moz-box-shadow: none;
// 				-o-box-shadow: none;
// 				box-shadow: none;
// 			}

// 			li a.flex-active { background: #fff; }
// 		}
// 	}
// }

.testimony-slider {
	height: 415px;

	.slick-slide {
		position: relative;
	}

	.testimony__photo {
		height: 415px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		@include background-size(cover);
	}

	.testimony__text {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-top: 50px;
		padding-left: 70px;

		p {
			font-size: 18px;
			font-weight: 100;
			color: #fff;

			&.serif { font-weight: 700; }
		}
	}

	.slick-slide:nth-of-type(odd) .testimony__photo {
		margin-right: 5px;
	}

	.slick-slide:nth-of-type(even) .testimony__photo {
		margin-left: 5px;
	}

	.slick-dots {
		display: none !important;
	}

	@include media(mobile) {
		height: 300px;

		.testimony__photo {
			height: 300px;
		}

		.slick-slide:nth-of-type(odd) .testimony__photo,
		.slick-slide:nth-of-type(even) .testimony__photo {
			margin: 0;
		}

		.slick-prev, .slick-next {
			display: none !important;
		}

		.slick-dots {
			display: block !important;
		}
	}
}

/* FEATURED
================================================= */
.icon-featured {
	height: 90px;
	display: block;

	&.icon-usa { width: 115px;	background: url(../images/featured-sprite.png) 0 0; }
	&.icon-cnn { width: 135px; 	background: url(../images/featured-sprite.png) -115px 0; }
	&.icon-abc { width: 90px; 	background: url(../images/featured-sprite.png) -250px 0; }
	&.icon-nbc { width: 85px; 	background: url(../images/featured-sprite.png) -340px 0; }
	&.icon-nyt { width: 110px; 	background: url(../images/featured-sprite.png) -425px 0; }
}

.featured {
	.icon-featured {
		display: inline-block; 
		margin: 15px 30px 0;
	}

	@include media(mobile) {
		.icon-featured {
			height: 50px;
			margin: 10px; 
			background-size: auto 100%;

			&.icon-usa { width: 65px;  }
			&.icon-cnn { width: 75px; background-position: -65px 0; }
			&.icon-abc { width: 50px; background-position: -140px 0; }
			&.icon-nbc { width: 45px; background-position: -190px 0; }
			&.icon-nyt { width: 60px; background-position: -235px 0; }
		}
	}
}

/* MERCH SAMPLES
================================================= */
.merch {
	.container { padding: 0; }

	.merch__sample {
		height: 320px;
		background-repeat: no-repeat;
		background-size: 200px 310px;
		background-position: left bottom;
		text-align: left;
		margin-top: 75px;

		h3, p {
			width: 45%;
			margin-left: 55%;
		}

		h3 {
			float: left;
			color: $colorSecondary;
			margin-bottom: 5px;
			margin-top: 30px;
		}

		p {
			font-size: 15px;
			margin-bottom: 0;
			color: $colorTextLight;
		}

		&.extra-margin {
			h3, p {
				width: 40%;
				margin-left: 60%;
			}
		}

	}

	@include media(mobile) {
		a.btn-primary { margin-bottom: 40px; }

		.merch__sample {
			width: 90%;
			height: 250px;
			background-size: auto 100%;
			margin: 0 auto;
			float: none;

			h3 { margin-top: 30px; }
		}
	}
}

/* DONATE
================================================= */
#form--donation {
	// height: 630px;
	color: #fff;
	@extend %bg-cover;
}